@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	
}
body{
	background-color: #a51d2d;
}

.navbar{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	padding: 10px 10%;
	background-color: black;
}

h3,li,a,button{
	font-size: 16px;
	font-family: Pacifico, sans afrif;
	text-decoration: none;
	display: inline-block;
	color: white;
	cursor: pointer;

}

.mark{
	margin-right: auto;
}

li{
	padding: 0px 10px;
}

a:hover, h3:hover{
	color: red;
	transition: all 0.4s ease 0s;
}


button{
	border: none;
	background-color: lightblue;
	border-radius: 10px;
	padding: 0px 20px;
	margin-left: 25px;
	outline: none;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}
button:hover{
	background-color: #276bd8;
}



@media only screen and (max-width: 750px) {
	.menu{
		display: none;
	}
	.contact{
		display: none;
	}
}
@media only screen and (min-width: 751px){
	.menubutton{
		display: none;
	}
}



/*MOBILE RESPONSIVE VIEW*/

.mobile{
height: 100%;
width: 0;
position: fixed;
z-index: 1;
left: 0;
top: 0;
overflow-x: hidden;
transition: all 0.4s ease 0s;
background-color:#a51d2d ;

}

.mobileContent a{
	font-size: 36px;
	padding: 15px;
	display: block;
}

.mobileContent{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	height: 100%;
	

}
.mobile .closeIcon{
	position: absolute;
	right: 8px;
	top: 20px;
	font-size: 60px;
}

@media screen and (max-height: 450px){
	.mobile a{
		font-size: 20px;
	}
	.mobile .closeIcon{
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}


.mobile a:hover{
	color: black;
}





/*SWIPPERffdiugdifgidy*/
    body {
    
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
      z-index: 0;
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;
      background-color: #fff;
    }


.flex-container{
	display: flex;
	flex-wrap: wrap;
	height: 200px;
	margin-bottom: 200px;
	width: 100%;
}

.one{
	width: 30%;
	background-color: black;
	color: white;
	font-size: 50px;
	text-align: center;
	line-height: 200px;
	font-family: Pacifico, sans afrif;

}
.heading{
	
	font-family: Pacifico, sans afrif;
}
.two{
	width: 70%;
	background-color: white;
	font-size: 20px;
	text-align: center;
	font-family: Pacifico, sans afrif;
}

@media only screen and (max-width: 754px) {

  .one{
  	width: 100%;
  }
  .two{
  	width: 100%;
  	text-align: center;
  }
}


.items{
	height: 200px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    justify-content: space-around;
    margin-bottom: 150px;
}

.imageOne{
	width: 100%;
	display: flex;
}

.ok1{
	width: 30%;
	margin-top: 20px;
	border: solid;
	border-color: white;
	border-width: 1px;

}

@media only screen and (max-width: 755px){
.ok1{
	width: 40%;
}

}
@media only screen and (max-width: 583px){
	.ok1{
		width: 100%;

	}
}

.dishes{
	font-family: Pacifico, sans afrif;
	font-size: 40px;
	color: white;
	width: 100%;
	text-align: center;
	margin-top: 20px;
	cursor: pointer;
}
.dishes:hover{
	color: black;
}

.details h3:hover{
	color: black;

}



